# This is a basic workflow that is manually triggered

name: dev

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Run a one-line script
        run: echo Hello, World!                
  deploy-dev:
    runs-on: ubuntu-latest
    environment:
      name: dev
      url: 'localhost'
    needs: build
    steps:
      - name: Run a one-line script
        run: echo DEV 
        
